<% provide :title, t(".title") %>
<% content_for :action do %>
  <%= link_to t("admin.tours.new.title"), new_admin_tour_path, class: "btn btn-dark align-self-center" %>
<% end %>
<div class="row m-2 pt-4">
  <div class="col">
    <%= render "tour_list", tours: @tours %>
  </div>
</div>
