<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to t("admin.title"), admin_root_url, class: "navbar-brand logo" %>
  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse h-100" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <%= nav_link t(".home"), root_path %>
      <%= nav_link t(".users"), admin_users_path %>
      <%= nav_link t(".tours"), admin_tours_path %>
    </ul>
  </div>
</nav>
