<div class="title-bar bg-secondary">
  <div class="row">
    <div class="col-12 col-md-6 text-left">
      <h2><%= yield :title %></h2>
    </div>
    <div class="col-12 col-md-6 text-right">
      <%= yield :action %>
    </div>
  </div>
</div>
