<li>
  <%= link_to category.name, "#", title: category.name %>
  <% unless category.leaf? %>
    <ul>
      <% category.children.each do |c| %>
        <%= render "shared/category", category: c %>
      <% end %>
    </ul>
  <% end %>
</li>
