<% provide :title, t(".title") %>
<% content_for :action do %>
  <%= link_to t("shared.back"), :back, class: "btn btn-dark" %>
<% end %>
<div class="row">
  <div class="col-11 mx-auto bg-light m-2 pt-4">
    <h2 class="text-center">
      <%= t "admin.booking_requests.show.booking_request_informations" %>
    </h2>
    <div class="mx-auto">
      <%= render "form", form_url: admin_booking_request_url(@request),
        submit_text: t("shared.save_changes") %>
    </div>
  </div>
</div>
