<% provide :title, t(".title") %>

<div class="row justify-content-md-center">
  <div class="col-11 bg-light m-2 pt-4">
    <h2 class="text-center"><%= t "admin.trips.show.trip_informations" %></h2>
    <div class="mx-auto">
      <%= render "form", submit_text: t(".create_trip"),
        form_url: admin_tour_trips_path(@tour) %>
    </div>
  </div>
</div>
