$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$primary:  #41AFAA;
$light:    $gray-100;
$danger:   #dc3545;
$info:     #17a2b8;
$success:  #28a745;
$warning:  #ffc107;

/* error */
.errors {
  position: relative;
  top: 160px;
  color: $white;

  .alert {
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
  }

  .alert-danger {
    background-color: $danger;
  }

  .alert-warning {
    background-color: $warning;
  }

  .alert-info {
    background-color: $info;
  }

  .alert-success {
    background-color: $success;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  color: $danger;
}

/* profile */

.edit-user-form {
  padding: 0 16px;

  .f-item {
    padding-bottom: 12px;
  }
}
