<section class="content full">
  <h1><%= @category.name %></h1>
  <div class="deals clearfix">
    <%= render partial: "tours/tour", collection: @tours %>
    <%= paginate @tours, theme: Settings.themes.user %>
  </div>
</section>
