<% provide :title, t(".title") %>
<% content_for :action do %>
  <%= link_to t("shared.back"), :back, class: "btn btn-dark" %>
<% end %>
<div class="row">
  <div class="col-10 mx-auto bg-light m-2 pt-4">
    <h2 class="text-center"><%= t "users.show.account_informations" %></h2>
    <div class="row">
      <div class="col-md-6 col-11 mx-auto">
        <%= render partial: "users/edit_form", locals: {form_url: admin_user_url(@user)} %>
      </div>
    </div>
  </div>
</div>
